body {
    background-color: red;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #404eed;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
}

header>img {
    width: 14%;
    height: 70%;
    margin-left: 6%;
}

main {
    margin-top: 7vh;
    margin-bottom: 25vh;
    background-color: yellowgreen;
    height: 68vh;
    width: 100vw;

    display: flex;

}

main .ilustracao {
    width: 48vw;
    height: 100%;
    background-color: #404eed;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .ilustracao>img {
    width: 90%;
    height: 90%;
}

main .menu-opcoes {
    width: 52vw;
    height: 100%;
    background-color: #e5e5e5;
    padding: 2% 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .menu-opcoes .opcoes {
    display: flex;
}

main .menu-opcoes .opcoes .opcao {
    background-color: tomato;
    /* inserir aqui opções de margem/distanciamento
    e arredondamento da borda, além de alteração da cor do fundo */
}


footer {
    width: 100%;
    height: 25vh;
    background-color: gold;

    position: fixed;
    bottom: 0%;
    left: 0px;
}