body {
    background-color: red;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #404eed;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
}

header>img {
    width: 14%;
    height: 70%;
    margin-left: 6%;
}

main {
    margin-top: 7vh;
    margin-bottom: 25vh;
    background-color: yellowgreen;
    height: 68vh;
    width: 100vw;

    display: flex;

}

main .ilustracao {
    width: 48vw;
    height: 100%;
    background-color: #404eed;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .ilustracao>img {
    width: 90%;
    height: 90%;
}

main .conteudo-esquerdo {
    width: 60%;
}


main .menu-opcoes {
    width: 52vw;
    height: 100%;
    background-color: #e5e5e5;
    padding: 5% 8% 5% 8%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.menu-opcoes h1 {
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 2px;
}

.opcoes {
    margin-bottom: 10px;
    display: flex;
}

.opcao {
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-right: 20px;
    /* background-color: #ffffff; */
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    padding: 10%;
    border: 0.5px solid #c4c4c4;
    border-radius: 100px;
    background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionado {
    width: 100px;
    height: 100px;
    padding: 10%;
    border: 3px solid #404eed;
    border-radius: 100px;
    background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.image>img {
    height: 70px;
    width: 80px;
}

.opcao>h2 {
    /* width: 50px; */
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
}

.img-referencia>h1 {
    font-size: 18px;
    font-weight: 400;
}

.botao-desativado {
    height: 30px;
    width: 70%;
    margin-top: 10px;
    color: #FCFCFC;
    background-color: #C4C4C4;
    border-radius: 10px;
    border: 0px solid #c4c4c4;
}

.botao-clicado {
    height: 30px;
    width: 70%;
    margin-top: 10px;
    color: #FCFCFC;
    background-color: #404eed;
    border-radius: 10px;
    border: 0px solid #404eed;
}

.img-referencia>input {
    width: 70%;
}


footer {
    width: 100%;
    height: 25vh;
    background-color: gold;

    position: fixed;
    bottom: 0%;
    left: 0px;
}