body {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

/* CABEÇALHO */

header {
    width: 100%;
    height: 7vh;
    background-color: #404eed;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
}

header>img {
    width: 14%;
    height: 70%;
    margin-left: 6%;
}

/* CONTEÚDO PRINCIPAL */

main {
    margin-top: 7vh;
    margin-bottom: 25vh;
    background-color: #e5e5e5;
    height: 68vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

/* ILUSTRAÇÃO À DIREITA DA TELA */

.ilustracao {
    width: 48%;
    height: 100%;
    background-color: #404eed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ilustracao>img {
    width: 90%;
    height: 90%;
}

/* MENU PARA MONTAGEM DAS BLUAS À ESQUERDA */

.menu {
    box-sizing: border-box;
    width: 52vw;
    height: 100%;
    background-color: #e5e5e5;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
}

.secao {
    width: 100%;
    height: 15%;
    margin-bottom: 10%;

    display: flex;
    flex-direction: column;
}

.secao>h1 {
    font-size: 95%;
    font-weight: 400px;
    margin-bottom: 1%;
}

.secao>.opcoes {
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: space-between;
}

.opcao {
    width: 30%;
    height: 80%;
    margin-bottom: 5%;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcao>h2 {
    margin-top: 1%;
    font-size: 80%;
    font-weight: 400;
}

.image {
    width: 60%;
    height: 95%;
    padding: 10%;
    background: linear-gradient(0, rgba(196, 196, 196, 1), rgba(242, 242, 242, 1));
    border: 0.5px solid #c4c4c4;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image>img {
    width: 90%;
    height: 100%;
}

.selecionado {
    width: 60%;
    height: 95%;
    padding: 10%;
    border: 3px solid #404eed;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* INPUT INSIRA O LINK */

.img-referencia {
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-referencia>h1 {
    color: #232323;
    font-size: 95%;
    font-weight: 400px;
    margin-bottom: 1%;
}

.img-referencia>input {
    color: #818181;
    padding-left: 2%;
    width: 95%;
    height: 65%;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 0px solid #c4c4c4;
}

/* BOTÃO CONFIRMAR PEDIDO */

.botao-desativado {
    height: 110%;
    width: 95%;
    margin-top: 2%;
    color: #FCFCFC;
    background-color: #c4c4c4;
    border-radius: 10px;
    border: 0px solid #c4c4c4;

}

.botao-clicado {
    height: 110%;
    width: 95%;
    margin-top: 2%;
    color: #FCFCFC;
    background-color: #404eed;
    border-radius: 10px;
    border: 0px solid #404eed;
}

/* RODAPÉ */

footer {
    width: 100vw;
    height: 25vh;
    background-color: #f2f2f2;
    padding-left: 5%;

    position: fixed;
    bottom: 0%;
    left: 0px;
}

footer>h1 {
    position: absolute;
    top: 10%;
    z-index: 5;
}

.ultimos-pedidos {
    width: 90vw;
    height: 65%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: scroll;

    position: absolute;
    top: 25%
}

.ultimos-pedidos::-webkit-scrollbar {
    display: none;
}

.camisa-div {
    background-color: #ffffff;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camisa-div>img {
    width: 70%;
    height: 70%;
    margin-bottom: 5%;
}

.camisa-div>h3 {
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}